PORT=8083
DB_URL=postgres://muse:secret@localhost:5435/muse_streaming?sslmode=disable
KAFKA_BROKERS=localhost:9094
KAFKA_TOPICS=playback.event.v1,user.registered,user.preference.updated,user.playlist.updated
KAFKA_GROUP_ID=music-event-streaming-v1
CONSUMER_CONCURRENCY=4
DRAIN_TIMEOUT=30s